.imgSmall {
  max-width: 100px;
  max-height: 100px;
  margin-right: 3em;
  margin-left: 3em;
}

.bgColor {
  background-color: #d3eef5 !important;
}

.bottoneMyFav {
  width: fit-content;
}

.rigaBottoni {
  height: fit-content;
}

.titolo {
  font-style: italic;
}

.mini {
  font-size: small;
}
