.imgCollection {
  height: 50vmin;
  width: 50vmin;
}

.imgCollection {
  width: 400px;
  aspect-ratio: 9/16;
}

.imgCollection:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 2px 1px rgb(160, 160, 160);
  cursor: pointer;
}
