.App {
  text-align: center;
}

Link {
  text-decoration: none;
}

.containerLogo {
  height: 20vmin;
  width: 20vmin;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: 100px;
}
.h1,
h2 {
  margin-left: auto;

  text-align: center;
}

.nav-link {
  font-weight: 400px;
}
.nav-link:hover {
  transform: scale(1);
  font-weight: bolder;
}

.bottone {
  border: 1px solid black;
  background-color: #f7f0d7df;
  border-radius: 15px;
  width: 70px;
  height: 45px;
}

.bottone :hover {
  background-color: #fcefc01e;
  border: 1px solid rgb(161, 161, 251);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 0.8em !important;
  height: 0.8em !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 100% !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  color: #d3eef5;
  background-color: #0000002b;
  border-radius: 100%;
}
